.badge {
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    scale: 1.1;
  }

  &:active {
    scale: 1;
  }
}

.icon {
  font-size: 16px;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    scale: 1.5;
  }

  &:active {
    scale: 1;
  }
}